name: Upload coverage

on: [push, pull_request]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.11"
      - name: Install Python and package
        run: |
          uv python install ${{ matrix.python-version }}
          uv venv
          uv pip install .[test]
      - name: Generate test coverage
        run: |
          uv run pytest --cov=stubgen_pyx tests/
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
